/* Fonts */
@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/leaguespartan-bold.eot');
  src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguespartan-bold.woff2') format('woff2'),
       url('../fonts/leaguespartan-bold.woff') format('woff'),
       url('../fonts/leaguespartan-bold.ttf') format('truetype'),
       url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* Styles */
body {
  max-width: 600px;
  margin: 12rem auto;
  font: 16px 'League Spartan';
  text-align: center;
}
h1 {
  max-width: 300px;
  border-bottom: 1px dashed black;
  padding-bottom: 0.368rem;
  margin: 2rem auto;
}
#celcius {
  margin-bottom: 1rem;
  font-size: 1.618rem;
}
input {
  font-size: 16px;
  max-width: 30px;
  padding: 0.618rem 1rem;
  margin-right: 0.318rem;
}